*.pidb
*.userprefs
*.dll
doc/html
samples/BubblePop/Library
samples/BubblePop/Temp
samples/BubblePop/.vs
samples/BubblePop/export
samples/BubblePop/Assets/Plugins
SplytUnity/Library
SplytUnity/Temp
SplytUnity/.vs